<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Group Input Form</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="box">
            <h1><font size="10" color="#ff0000" face="맑은 고딕">
            Netfilx</font>
            <font size="3" color="#11dd11" face="맑은 고딕">에서 성공할까? </font></h1>
            <form method="POST" action="/post">
                <h1><font size="3" color="#11dd11" face="맑은 고딕">감독</font><input type="text" name="director" placeholder="Type..."></h1>
            
                <h1><font size="3" color="#11dd11" face="맑은 고딕">국가</font><input type="text" name="country" placeholder="Type..."></h1>
            
                <h1><font size="3" color="#11dd11" face="맑은 고딕">장르</font><input type="text" name="genre" placeholder="Type..."></h1>
            
                <h1><font size="3" color="#11dd11" face="맑은 고딕">평점</font><input type="text" name="score" placeholder="Type..."></h1>
            
                <h1><font size="3" color="#11dd11" face="맑은 고딕">상영등급</font><input type="text" name="rating" placeholder="Type..."></h1>
            
                <h1><font size="3" color="#11dd11" face="맑은 고딕">작가</font><input type="text" name="writer" placeholder="Type..."></h1>
            
                <h1><font size="3" color="#11dd11" face="맑은 고딕">배급사</font><input type="text" name="company" placeholder="Type..."></h1>
                
                <h1><font size="3" color="#11dd11" face="맑은 고딕">이름</font><input type="text" name="title" placeholder="Type..."></h1>
            
                <button type="submit">흥행도 확인하기</button>
            </form>
    </body>
</html>